.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
.nav .container li{
    color:red;
    background-color:#efefef;
    font-family:sans-serif bold;
   
    
    }

.jumbotron {
  background-image:url('../calella%20II.jpg');
  height: 700px;
  width: auto;
  background-size: cover;

}
#header{
    background-color: azure;
    
}
.picture {
    float: left;
    margin-bottom: 10px;
    border-radius: 50%;
}
#GitHub {
    padding-left: 20px;
    
}
    
.picture img{
    float: left;
    margin-right: 10px;
}
.picture br{
    clear: left;
}
.picture span {
    font-size: .8em;
}

.jumbotron .container {
  position: relative;
  top:100px;
  color:black;
}

.neighborhood-guides{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
    }
.neighborhood-guides h2{
    color:#393c3d;
    font-size:24px;
    }
.neighborhood-guides p{
    color:#393c3c;
    font-size:15px;
    margin-bottom:13px;
    }

.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: black;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.img-circle{
    border-radius: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    
}
.col-md-8 ul{
    padding: 20px 20px 20px 20px;
    
}
.col-md-8 li{
    padding: 3px 3px 7px 20px;
    font-size: 20px;
    margin-left: 30px;
    
}
.col-md-8 ol{
    
    font-size: 25px;
    margin-left: 10px;
    
}
.icon{
    width: 50px;
    height: 50px;
}

.boxgroesse {
  width: 250px;
  height: 175px;
  font-size: 30pt;
  color: white;
  opacity: 0.5;
}
 
#box1 {
    background-color: red;
    position: absolute;
    top: 90px;
    left: 100px;
}
 
#box2 {
    background-color: green;
    position: absolute;
    top: 70px;
    left: 300px;
}
 
#box3 {
    background-color: beige;
    border-radius: 19%;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
}